{{ define "posts/index.tmpl" }}
<html>

    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalURL} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="https://astro.build/social.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={canonicalURL} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content="https://astro.build/social.png" />
    </head>
    <body>
        <h1>
            {{ .title }}
        </h1>
        <h3>
            {{ .description }}
        </h3>
        <div>
        Start Range here
        <ul>
        {{ range .postsName }}
            <li>
                <a href="post/{{.}}">{{ . }}</a>
            </li>
        {{ end }}
        </ul>
        </div>
        
        <footer>
            <a href="/">Home</a>
            <a href="/posts">redirect to see Posts</a>
            <a href="/users/index">redirect to User</a>
        </footer>
    </body>
</html>
{{ end }}