{{ define "users/index.tmpl" }}
<html>

    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <img src="/assets/favicon.png" />
        <img src="/assets/sms_icon_favicon.svg" alt="My Happy SVG"/>
        <h1>
            {{ .title }}
        </h1>
        <p>Using users/index.tmpl</p>
    </body>
</html>
{{ end }}