{{ define "users/index.tmpl" }}
<html>

    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <h1>
            {{ .title }}
        </h1>
        
        <footer>
            <a href="/">Home</a>
            <a href="/posts">redirect to see Posts</a>
            <a href="/users/index">redirect to User</a>
        </footer>
    </body>
</html>
{{ end }}