{{ define "layout/footer" }}
<footer
    class="bg-gray-50 rounded-t-lg dark:bg-gray-800 flex flex-wrap items-center justify-between shadow-2xl select-none">
    <p
        class="mb-4 text-sm leading-5 text-center text-gray-500 dark:text-gray-400 mb-0 p-8">
        © 2023 <a href="/" class="" target="_blank">Sumit Jangir</a>. All rights
        reserved.
    </p>
    <ul class="flex flex-wrap justify-center items-center p-8">
        <li>
            <a href="#"
                class="mr-6 text-gray-900 text-md dark:text-gray-400">Privacy
                Policy</a>
        </li>
        <li>
            <a href="/editor"
                class="mr-6 text-gray-900 text-md dark:text-gray-400">Editor</a>
        </li>
        <li>
            <a href="/contact"
                class="text-gray-900 text-md dark:text-gray-400">Contact</a>
        </li>
    </ul>
</footer>
{{ end }}