{{ define "layout/header" }}

<header class="select-none">
    <nav class="bg-gray-50 order-gray-200 px-4 py-2.5 dark:bg-gray-800 shadow-2xl text-gray-700">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="inline-flex items-center bg-transparent">
                <img id="logo-image" src="/assets/sms_icon_favicon_transparent.svg" class="mr-3 h-6 sm:h-9" alt="Sumit Jangir, Logo" />
            </a>
            <div class="flex flex-grow-1 items-center gap-8">
                <a href="/" class="text-xl dark:text-gray-300 border-b-4 border-transparent dark:hover:border-b-4 dark:hover:border-gray-400  dark:focus:border-b-4 dark:focus:border-gray-400 hover:border-gray-400  focus:border-b-4 focus:border-gray-400 p-2">
                    Home
                </a>
                <a href="/posts" class="text-xl dark:text-gray-300 border-b-4 border-transparent dark:hover:border-b-4 dark:hover:border-gray-400  dark:focus:border-b-4 dark:focus:border-gray-400 hover:border-gray-400  focus:border-b-4 focus:border-gray-400 p-2">
                    Recent posts
                </a>
                <button id="install" class="text-cyan" >install</button>
            </div>
            <div class="flex items-center ">
                <button id="light-theme-btn"
                    class="hidden inline-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000" aria-hidden="true" class="w-7 h-7">
                    <path fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd"></path>
                    </svg>
                </button>

                <button id="dark-theme-btn"
                    class="hidden">
                    <svg class="w-7 h-7" fill="#fff" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>

<script>

    let lightThemeBtn = document.querySelector("#light-theme-btn");
    let darkThemeBtn = document.querySelector("#dark-theme-btn");
    let logoImage = document.querySelector("#logo-image");
  
    lightThemeBtn.addEventListener('click', function() {
      darkThemeBtn.classList.remove('hidden');
      lightThemeBtn.classList.add('hidden');
      document.documentElement.classList.add('dark')
      localStorage.theme = 'dark'
      logoImage.src = "/assets/sms_icon_favicon_transparent.svg";
    })
    darkThemeBtn.addEventListener('click', function() {
      lightThemeBtn.classList.remove('hidden');
      darkThemeBtn.classList.add('hidden');
      document.documentElement.classList.remove('dark')
      localStorage.theme = 'light'
      logoImage.src = "/assets/sms_icon_favicon_black.svg";
    })
  
    function checkAndAddDarkThemeClass() {
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
            darkThemeBtn.classList.remove('hidden');
            logoImage.src = "/assets/sms_icon_favicon_transparent.svg";
        } else {
            document.documentElement.classList.remove('dark')
            lightThemeBtn.classList.remove('hidden');
            logoImage.src = "/assets/sms_icon_favicon_black.svg";
        }
  
        // Whenever the user explicitly chooses light mode
        // localStorage.theme = 'light'
  
        // Whenever the user explicitly chooses dark mode
        // localStorage.theme = 'dark'
  
        // Whenever the user explicitly chooses to respect the OS preference
        // localStorage.removeItem('theme')
  
      }
  
      checkAndAddDarkThemeClass();
  
  </script>

{{ end }}